doctype html
html
    head
        title PROSTO.FM
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='prosto.fm')
        meta(name='author', content='Roman Kunitsyn')
        link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
        include styles
    body
        include preloader
        block main-content
        include scripts