script(src="/public/libs/sencha-sdk/ext-4.2/ext-all.js")
script(src="/public/testapp/libs/rkApiProvider.js")
script(src="/public/testapp/testapp.js")
script(type='text/javascript').
	console.log("-- That's it. Have a nice day. LLR ( : ");