link(rel="stylesheet", href="/public/libs/sencha-sdk/ext-4.2/resources/css/ext-all.css")
link(rel="stylesheet", href="/public/libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/public/libs/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="/public/css/style.css")
link(rel="stylesheet", href="/public/css/preloader.css")